<script src="{{ "/assets/js/mdui.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/toc.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/pushpin.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.typeahead.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.scrollToTop.js" | prepend: site.baseurl }}"></script>


  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ "/sw.js" | relative_url }}").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
{% if page.layout=='post' %}
<script type="text/javascript" src="{{ "/assets/js/jquery-qrcode-0.14.0.min.js " | prepend: site.baseurl }}"></script>
{% endif  %}
<script>
 $(document).ready(function(){
   $("#toTop").scrollToTop();
      var names = new Array();
      var urls = new Array(); 
      $.getJSON("/search.json").done(function(data){
        for (var index in data){
          var item = data[index];
          names[index] = item.title;
          urls[names[index]] = item.url
        }

$.typeahead({
    input: '.js-typeahead-country_v1',
    order: "desc",
    source: {
        data: names
    },
    selector: {
        container: "k-search",
        result: " mdui-card k-search-card",
        list: "mdui-list",
        group: "typeahead__group",
        item: "mdui-list-item",
        empty: "typeahead__empty",
        display: "typeahead__display",
        query: "typeahead__query",
        filter: "typeahead__filter",
        filterButton: "typeahead__filter-button",
        dropdown: "typeahead__dropdown",
        dropdownItem: "typeahead__dropdown-item",
        button: "typeahead__button",
        backdrop: "typeahead__backdrop",
        hint: "typeahead__hint",
        cancelButton: "typeahead__cancel-button"
    },
    callback: {
        onClick: function (node,a,item,event){
          window.location.href = urls[item.display];
        },
    }
});
      });

      $(".js-typeahead-country_v1").blur(function(){
        $('.k-search').removeClass('k-focus');
        setTimeout('$(".k-search-card").hide(100);',100)
      });
      $(".js-typeahead-country_v1").focus(function(){
        $('.k-search').addClass('k-focus');
        $(".k-search-card").css("display","block");
      });    
{% if page.layout=='post' %}
      $('#toc').toc({
        'selectors': 'h2',
        'prefix': 'toc',
        'highlightOffset': 64
      });
    var tocBottom = $('#k-page-content').offset().top + $('#k-page-content').height() - $('#toc-card').height();
    $('#toc-card').pushpin({
      top: 154,
      bottom: tocBottom,
      offset: 128
    });
    $("#busuanzi_container_site_pv").css('display','block');
    $("#qrcode").qrcode({
      size: 200,
      text: '{{site.url}}{{page.url}}',
      radius: 0,
      mode: 1,
      label: 'Storyline KnowledgeBase',
      fontname:"ubuntu",
      fontcolor: '#4285f4',
      fill: '#4285f4',
      mSize:0.07,
      render: "image"

    });
{% endif  %}
{% if page.title == "Tags" %}
(function ($) {
  $.getUrlParam = function (name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return decodeURI(r[2]); return null;
  }
})(jQuery);
var test =  $.getUrlParam('tag');
console.log(test);
{% endif %}
});
</script>