<script src="{{ "/assets/js/mdui.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/toc.min.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/pushpin.js " | prepend: site.baseurl }}"></script>
{% if page.layout=='post' %}
<script type="text/javascript" src="{{ "/assets/js/jquery-qrcode-0.14.0.min.js " | prepend: site.baseurl }}"></script>
{% endif  %}
<script>
    $(document).ready(function(){
      $("#search-input").blur(function(){
        $('.k-search').removeClass('k-focus');
      });
      $("#search-input").focus(function(){
        $('.k-search').addClass('k-focus');
      });
{% if page.layout=='post' %}
      $('#toc').toc({
        'selectors': 'h2',
        'prefix': 'toc',
        'highlightOffset': 64
      });
    var tocBottom = $('#k-page-content').parent().offset().top + $('#k-page-content').parent().height() - $('#toc-card').height();
    $('#toc-card').pushpin({
      top: 154,
      bottom: tocBottom,
      offset: 128
    });
    $("#busuanzi_container_site_pv").css('display','block');
    $("#qrcode").qrcode({
      size: 200,
      text: '{{site.url}}{{page.url}}',
      radius: 0,
      mode: 1,
      label: 'Storyline KnowledgeBase',
      fontname:"ubuntu",
      fontcolor: '#4285f4',
      fill: '#4285f4',
      mSize:0.07
    });
    $("#k-page-url-btn").click(function(){
      $.ajax({
        url: "https://api.t.sina.com.cn/short_url/shorten.json",
        type: "GET",
        dataType:"jsonp",
        cache: false,
        data:{
          source:3271760578,
          url_long:"{{site.url}}{{page.url}}"
        },
        success: function (data, status) {   
          $("#k-page-url").val(data.short_url);
        },   
        error: function(obj,info,errobj){
          console.log(info)
        }
      })
    })
{% endif  %}
});
</script>