---
layout: default
---
{% include busuanzi.html %}
<div class="mdui-row">
    <div class="mdui-col-xs-12 mdui-col-sm-12 mdui-col-md-9">
        <div class="mdui-card">
            <div class="mdui-card-content k-card-content" id="k-page-content">
                <div class="mdui-typo">
                    <div class="mdui-tab mdui-tab-full-width" mdui-tab>
                      <a href="#example1-tab1" class="mdui-ripple">文章兼容</a>
                      <a href="#example1-tab2" class="mdui-ripple">文章标签</a>
                      <a href="#example1-tab3" class="mdui-ripple">文章日期</a>
                      <a href="#example1-tab4" class="mdui-ripple">文章阅读量</a>
                      <a href="#example1-tab5" class="mdui-ripple">分享</a>
                    </div>
                    <div id="example1-tab1" class="mdui-p-a-2">
                        <ul class="mdui-list">
                          {% for v in site.data.version.storyline.v %}
                          <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-content">{{site.data.version.storyline.name}}-{{v.v}}</div>
                            {% assign version = v.v | prepend:'v' %}
                            {% if page.storyline[version] %}
                            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe5ca;</i>
                            {% else %}
                            <i class="mdui-list-item-icon mdui-icon material-icons">&#xe14c;</i>
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div id="example1-tab2" class="mdui-p-a-2">
                            {% for tag in page.tags %}
                        <div class="mdui-chip">
                          <span class="mdui-chip-title">{{tag}}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="example1-tab3" class="mdui-p-a-2">
                        <ul class="mdui-list">
                          <li class="mdui-subheader">创建日期：</li>
                          <li class="mdui-list-item mdui-ripple">{{ page.date | date: '%B %d, %Y' }}</li>
                          <li class="mdui-subheader">最后更新：</li>
                          <li class="mdui-list-item mdui-ripple">{{ page.lastDate | date: '%B %d, %Y' }}</li>
                        </ul>
                    </div>
                    <div id="example1-tab4" class="mdui-p-a-2">
                        <ul class="mdui-list" id="busuanzi_container_site_pv">
                          <li class="mdui-subheader">本站总访问量:</li>
                          <li class="mdui-list-item mdui-ripple"><span id="busuanzi_value_site_pv"></span>次</li>
                          <li class="mdui-subheader">本文总阅读量:</li>
                          <li class="mdui-list-item mdui-ripple"><span id="busuanzi_value_page_pv"></span>次</li>
                        </ul>
                    </div>
                    <div id="example1-tab5" class="mdui-p-a-2">
                        <ul class="mdui-list mdui-row-sm-2">
                            <div class="mdui-col">
                                <li class="mdui-subheader">分享到：</li>
                                <li class="mdui-list-item mdui-ripple"><a target="_blank" href="http://service.weibo.com/share/share.php?appkey=&title={{page.title}}&url={{site.url}}{{page.url}}&pic=&searchPic=false&style=simple">微博</a></li>
                                <li class="mdui-list-item mdui-ripple"><a target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?site={{site.title}}&title={{page.title}}&summary=欢迎使用{{site.title}}&url={{site.url}}{{page.url}}">QQ</a></li>
                                <li class="mdui-subheader">链接：</li>
                                <li class="mdui-ripple">
                                    <div class="mdui-texfield">
                                        <input id="k-page-url" class="mdui-textfield-input" type="text" value="{{site.url}}{{page.url}}" readonly/>
                                    </div>
                                </li>
                                <a id="k-page-url-btn" class="mdui-btn mdui-ripple mdui-center" href="javascript:;">缩短网址</a>
                            </div>
                          <div class="mdui-col">
                              <li class="mdui-subheader">二维码:</li>
                          <li class="mdui-list-item mdui-ripple" id="qrcode">
                          </li>
                          </div>
                        </ul>
                    </div>
                    {{ content }}
                </div>
            </div>
        </div>
        <br>
        <div class="mdui-card">
            <div class="mdui-card-primary k-card-content">
                <div class="mdui-card-primary-title">Authors</div>
                <div class="mdui-card-primary-subtitle">攥写本文章的作者们</div>
            </div>
            <div class="mdui-card-content">
            <div class="mdui-row-sm-6 mdui-row-md-6">
                {% for authors in page.authors %} {% assign author = site.data.authors.[authors] %}
                <div class="mdui-col">
                    <div class="mdui-hoverable mdui-ripple">
                        <a class="post-authors mdui-text-center" href="{{author.url}}">
                            <img class="mdui-center" src="{{author.img}}" alt="">
                            <p>{{authors}}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        <br>
        {% if page.helpers != null %}
        <div class="mdui-card">
            <div class="mdui-card-primary k-card-content">
                <div class="mdui-card-primary-title">Helpers</div>
                <div class="mdui-card-primary-subtitle">曾帮助攥写本文章的人们</div>
            </div>
            <div class="mdui-card-content">
            <div class="mdui-row-sm-6 mdui-row-md-6">
                {% for helpers in page.helpers %} {% assign helper = site.data.helpers.[helpers] %}
                <div class="mdui-col">
                    <div class="mdui-hoverable mdui-ripple">
                        <a class="post-authors mdui-text-center" href="{{helper.url}}">
                            <img class="mdui-center" src="{{helper.img}}" alt="">
                            <p>{{helpers}}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        {% endif %}
        <br>
        <div class="mdui-card">
            <div class="mdui-card-content">
                {% include gentie163.html %}
            </div>
        </div>
    </div>
    <div class="mdui-hidden-sm-down mdui-col-md-3">
        
            {% include toc.html %}
        
    </div>
</div>