<div class="mdui-panel mdui-panel-popout" mdui-panel="{accordion:true}" id="panel">
    <div class="mdui-panel-item" id="item-1">
        <div class="mdui-panel-item-header">
            First
            <ul class="mdui-menu" id="menutest">
                <li class="mdui-menu-item">
                    <a href="javascript:;" class="mdui-ripple k-item-header-btn center">233}</a>
                </li>
            </ul>
            <button id="testbtn" mdui-menu="{target: '#menutest',align: 'right',covered:false}" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon">bookmark</i></button>
        </div>
        <div class="mdui-panel-item-body">
            <p>First content</p>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>名称</th>
            <th>最低要求</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Flash</th>
            <th>
                <ul>
                    <li>Windows：Internet Explorer 6及更高版本，Firefox 1.x及更高版本，Google Chrome（最新版本），Opera 9.5及更高版本</li>
                    <li>Mac：Safari 3及更高版本，Firefox 1.x及更高版本，Google Chrome（最新版本）</li>
                    <li>Linux：Firefox 1.x及更高版本</li>
                </ul>
            </th>
        </tr>
        <tr>
            <th>Html5</th>
            <th>
                <ul>
                    <li>Windows或Mac上的Google Chrome（最新版本）</li>
                    <li>Mac上的Safari 5.1或更高版本</li>
                    <li>Apple iOS 5或更高版本在iPad / iPhone上的移动Safari</li>
                </ul>
            </th>
        </tr>
        <tr>
            <th>Apple iOS</th>
            <th>Apple iOS 5或更高版本的iPad上的 <a href="http://itunes.apple.com/us/app/articulate-mobile-player/id505546381">Articulate Mobile Player</a></th>
        </tr>
        <tr>
            <th>CD / DVD</th>
            <th>Internet Explorer 6或更高版本以及Adobe Flash Player 10.3或更高版本</th>
        </tr>
    </tbody>
</table>