<div class="mdui-panel mdui-panel-popout" mdui-panel="{accordion:true}" id="panel">
    <div class="mdui-panel-item" id="item-1">
        <div class="mdui-panel-item-header">
            First
            <ul class="mdui-menu" id="menutest">
                <li class="mdui-menu-item">
                    <a href="javascript:;" class="mdui-ripple k-item-header-btn center">233}</a>
                </li>
            </ul>
            <button id="testbtn" mdui-menu="{target: '#menutest',align: 'right',covered:false}" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon">bookmark</i></button>
        </div>
        <div class="mdui-panel-item-body">
            <p>First content</p>
        </div>
    </div>
</div>